@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" style="text-align:center;">
    <h1>Unsere Datenbank</h1>
    <p class="lead">Hier kannst du auswählen, wohin du möchtest</p>
</div>

<div class="row">
    <div class="col-md-4" style="text-align: center; width: 100%;">
        <div class="tables" style="border:solid; background-color:lightgrey;">
            <br /> <br />
            <a href="https://localhost:44306/movies">Zeige alles aus der "movie" Table an</a> <br /> <br />
            <a href="https://localhost:44306/directors">Zeige alles aus der "director" Table an</a> <br /> <br />
            <a href="https://localhost:44306/genres">Zeige alles aus der "genres" Table an</a> <br /> <br />
            <a href="https://localhost:44306/people">Zeige alles aus der "people" Table an</a> <br /> <br />
            <a href="https://localhost:44306/products">Zeige alles aus der "products" Table an</a> <br /> <br />
            <a href="https://localhost:44306/races">Zeige alles aus der "races" Table an</a> <br /> <br />
            <a href="https://localhost:44306/races">Zeige alles aus der "races" Table an</a> <br /> <br />
            <a href="https://localhost:44306/shows">Zeige alles aus der "shows" Table an</a> <br /> <br />
            <a href="https://localhost:44306/tvs">Zeige alles aus der "tvs" Table an</a> <br /> <br />
            <a href="https://localhost:44306/characters">Zeige alles aus der "characters" Table an</a>
            <br /> <br /> <br />
        </div>



        <br /> <br /> <br /> <br />
        <div class="views" style="border:solid; background-color:honeydew; height: 20%;">
            <a href="https://localhost:44306/MoviesTables">Zeige alles aus der "MoviesTable" View an</a> <br />
        </div>
    </div>
</div>